@font-face {
  font-family: 'PtsansRegular';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/PtSans/PtsansRegular/Pts55f.eot');
  src: url('/assets/fonts/PtSans/PtsansRegular/Pts55f.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/PtSans/PtsansRegular/Pts55f.svg#PtsansRegular') format('svg'),
       url('/assets/fonts/PtSans/PtsansRegular/Pts55f.ttf') format('truetype'),
       url('/assets/fonts/PtSans/PtsansRegular/Pts55f.woff') format('woff');
}


@font-face {
  font-family: 'PtsansBold';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/PtSans/PtsansBold/Pts75f.eot');
  src: url('/assets/fonts/PtSans/PtsansBold/Pts75f.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/PtSans/PtsansBold/Pts75f.svg#PtsansBold') format('svg'),
       url('/assets/fonts/PtSans/PtsansBold/Pts75f.ttf') format('truetype'),
       url('/assets/fonts/PtSans/PtsansBold/Pts75f.woff') format('woff');
}


