@font-face {
  font-family: 'RobotoRegular';
  font-style: normal;
  font-weight: normal;
  src: url('./assets/fonts/Roboto/RobotoRegular/RobotoRegular.eot');
  src: url('./assets/fonts/Roboto/RobotoRegular/RobotoRegular.eot?#iefix') format('embedded-opentype'),
       url('./assets/fonts/Roboto/RobotoRegular/RobotoRegular.svg#RobotoRegular') format('svg'),
       url('./assets/fonts/Roboto/RobotoRegular/RobotoRegular.ttf') format('truetype'),
       url('./assets/fonts/Roboto/RobotoRegular/RobotoRegular.woff') format('woff');
}


