@font-face {
  font-family: 'PtsansRegular';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/PtSans/PtsansRegular/Pts55f.eot');
  src: url('/assets/fonts/PtSans/PtsansRegular/Pts55f.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/PtSans/PtsansRegular/Pts55f.svg#PtsansRegular') format('svg'),
       url('/assets/fonts/PtSans/PtsansRegular/Pts55f.ttf') format('truetype'),
       url('/assets/fonts/PtSans/PtsansRegular/Pts55f.woff') format('woff');
}


@font-face {
  font-family: 'RobotoBlack';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/Roboto/RobotoBlack/RobotoBlack.eot');
  src: url('/assets/fonts/Roboto/RobotoBlack/RobotoBlack.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/Roboto/RobotoBlack/RobotoBlack.svg#RobotoBlack') format('svg'),
       url('/assets/fonts/Roboto/RobotoBlack/RobotoBlack.ttf') format('truetype'),
       url('/assets/fonts/Roboto/RobotoBlack/RobotoBlack.woff') format('woff');
}


@font-face {
  font-family: 'RobotoBold';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/Roboto/RobotoBold/RobotoBold.eot');
  src: url('/assets/fonts/Roboto/RobotoBold/RobotoBold.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/Roboto/RobotoBold/RobotoBold.svg#RobotoBold') format('svg'),
       url('/assets/fonts/Roboto/RobotoBold/RobotoBold.ttf') format('truetype'),
       url('/assets/fonts/Roboto/RobotoBold/RobotoBold.woff') format('woff');
}


@font-face {
  font-family: 'RobotoItalic';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/Roboto/RobotoItalic/RobotoItalic.eot');
  src: url('/assets/fonts/Roboto/RobotoItalic/RobotoItalic.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/Roboto/RobotoItalic/RobotoItalic.svg#RobotoItalic') format('svg'),
       url('/assets/fonts/Roboto/RobotoItalic/RobotoItalic.ttf') format('truetype'),
       url('/assets/fonts/Roboto/RobotoItalic/RobotoItalic.woff') format('woff');
}


@font-face {
  font-family: 'RobotoThin';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/Roboto/RobotoThin/RobotoThin.eot');
  src: url('/assets/fonts/Roboto/RobotoThin/RobotoThin.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/Roboto/RobotoThin/RobotoThin.svg#RobotoThin') format('svg'),
       url('/assets/fonts/Roboto/RobotoThin/RobotoThin.ttf') format('truetype'),
       url('/assets/fonts/Roboto/RobotoThin/RobotoThin.woff') format('woff');
}


@font-face {
  font-family: 'RobotoBold';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/Roboto/RobotoBold/RobotoBold.eot');
  src: url('/assets/fonts/Roboto/RobotoBold/RobotoBold.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/Roboto/RobotoBold/RobotoBold.svg#RobotoBold') format('svg'),
       url('/assets/fonts/Roboto/RobotoBold/RobotoBold.ttf') format('truetype'),
       url('/assets/fonts/Roboto/RobotoBold/RobotoBold.woff') format('woff');
}


@font-face {
  font-family: 'RobotoItalic';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/Roboto/RobotoItalic/RobotoItalic.eot');
  src: url('/assets/fonts/Roboto/RobotoItalic/RobotoItalic.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/Roboto/RobotoItalic/RobotoItalic.svg#RobotoItalic') format('svg'),
       url('/assets/fonts/Roboto/RobotoItalic/RobotoItalic.ttf') format('truetype'),
       url('/assets/fonts/Roboto/RobotoItalic/RobotoItalic.woff') format('woff');
}


